@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family: "Montserrat ExtraBold";
    src: url(../fonts/Montserrat/Montserrat-ExtraBold.ttf);
}
@font-face {
    font-family: "Montserrat Bold";
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}
*{
    
    padding: 0;
    margin: 0;
    font-family: "Montserrat";
}

.light-blue{
    color: #421ECA;
}
.mid__text{
    color: #333;
}
.red{
    color: #00a24e;
}
.white{
    color: #fff;
}
body{
    background-color: rgb(247, 245, 245)
}
#hero{
    padding: 0;
    width: 100%;
    height: 100vh;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
    transition: all 0.5s;
    z-index: 997;
    padding: 20px 0;
  }
  
  .header.header-scrolled {
    background: #fff;
    padding: 15px 0;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  }
  
  .header .logo {
    line-height: 0;
  }
  
  .header .logo img {
    max-height: 70px;
    max-width: 150px;
    margin-right: 6px;
  }
  
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
    margin-left: 10%;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul {
margin: 0;
padding: 0;
display: flex;
list-style: none;
text-align: center;

}

.navbar li {
position: relative;
}

.navbar a, .navbar a:focus {
display: flex;
font-size: 16px;
font-family: Montserrat;
font-weight: 700;
color: #fff;
white-space: nowrap;
transition: 0.3s;
}

.navbar a i, .navbar a:focus i {
font-size: 12px;
line-height: 0;
margin-left: 5px;
}

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
    color: #00a24e;
    border-bottom: 2.5px solid rgb(31, 58, 153);
}
.logo__span{
    color: #00a24e;
    text-decoration: none;
    font-family: "Montserrat Bold";
}
.logo__span:hover{
    text-decoration: none;
}
/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
color: #00a24e;
font-size: 28px;
cursor: pointer;
display: none;
line-height: 0;
transition: 0.5s;
float: right;
}

.mobile-nav-toggle.bi-x {
color: #fff;
}

@media (max-width: 991px) {
.mobile-nav-toggle {
    display: block;
}
.navbar ul {
    display: none;
}
}

.navbar-mobile {
position: fixed;
overflow: hidden;
top: 0;
right: 0;
left: 0;
bottom: 0;
background: rgba(1, 22, 61, 0.9);
transition: 0.3s;
}

.navbar-mobile .mobile-nav-toggle {
position: absolute;
top: 15px;
right: 15px;
}

.navbar-mobile ul {
display: block;
position: absolute;
top: 55px;
right: 15px;
bottom: 15px;
left: 15px;
padding: 10px 0;
border-radius: 10px;
overflow-y: auto;
transition: 0.3s;
}

.navbar-mobile a {
padding: 10px 20px;
font-size: 15px;
font-family: "Montserrat";
color: #00a24e;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
color: #00a282;
}

.navbar-mobile .getstarted {
margin: 15px;
}

.navbar-mobile .dropdown ul {
position: static;
display: none;
margin: 10px 20px;
padding: 10px 0;
z-index: 99;
opacity: 1;
visibility: visible;
background: #fff;
box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
min-width: 200px;
}

.navbar-mobile .dropdown ul a {
padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
font-size: 12px;
color: grey;
}

.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
color: #00a24e;
}

.navbar-mobile .dropdown > .dropdown-active {
display: block;

}
.bi-x{
    color: #fff;
}
/*
* CAROUSEL
*/

#billboard{
    width: 100%;
    height: 100vh;
}
#billboard .img{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/1.jpg);

}
.img__services{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/services.jpg) no-repeat !important;

}
#billboard .img,
.img__services{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    
}
.img__services{
    background-position:center !important;
    background-size: cover  !important;
}

#billboard .img h3,
#billboard .img span
{
    text-align: center;
    font-family: "Montserrat Bold";
    font-size: 2rem;
    
}

/*
*INTRO
*/
#intro{
    width: 100%;
    height: 80vh;
}
.content{
    padding: 5% 2.5% 2.5% 2.5% ;
    width: 100%;
    height: 100%;
}
.content .heading{
    width: 100%;
    height: 20%;
    text-align: center;
}
.content .heading h2,
.content .heading span
{
    font-family: "Montserrat bold";
    font-weight: 600;
    font-size: 2.5rem;
}
.content .heading h2{
    color: #00a24e;
}
.section-body{
    height: 80%;
    width: 100%;
}
.section-body .row{
    width: 100%;
    height: 100%;
}
.section-body .row .places-slider{
    width: 100%;
    height: 100%;
}
.item{
    width: 300px;
    height: 270px;
    background-color: transparent;
    position: relative;
    transition: all 0.3s;
    overflow: hidden;
    
}
.item .image{
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 15px;
    background-color: rgb(247, 245, 245)
}
.item .btn-infor{
    width: 100%;
    margin-top: 2.5%;
    height: 20%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #333;
    padding-top: 2%;
}
.item .btn-infor h5 a {
    text-decoration: none;
    color: white;
    font-family: "Montserrat Bold";
}
.item .image img {
    transition: all 0.3s;
}
.item:hover .image img{
    transform: rotate(6deg) scale(1.2);
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev{
    margin-top: 15px;
    width: 50px;
    margin-left: 15px;
    border: 2px solid #00a24e;
    background-color: #00a24e;
    color: white;
    font-size: 2rem;
    border-radius: 15px;
    transition: all 0.3s;
    outline: none;
}
.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover{
    border: 2px solid #00a24e;
    background-color: white;
    color: #00a24e;
}
@media (max-width:1255px) {
    .item{
        margin-top: 25px;
        margin-left: 45px;
    }
}
@media (max-width:596px) {
    .item{
        width: 95%;
    }
}
@media (max-width:720px) {
   .item{
       margin-left: 15px;
   }
}
@media (max-width: 376px) {
    #intro .section-body{
        margin-top: 30px;
    }
}
/*
* ABOUT 
*/ 
#about{
    width:100%;
    height: fit-content;
    border-top-right-radius: 100px;
    background: url(../images/wave-haikei.svg) no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom-right-radius:25px ;
}
.about{
    width: 50%;
    height: 100%;
    padding: 5%;
}
.about .about-heading h2,
.about .about-heading h2 span{
    
    font-family: "Montserrat Bold";
    font-size: 3rem;
}
.about .about-body{
    margin-top: 35px;
}
.about .about-body h5{
    font-size: 1rem;
    font-family: "Montserrat Bold";
}
.btn-primary {
    border:  none !important;
    background-color: #00a24e;
    outline: none !important;
    width: 40%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;

}
.btn-primary:hover{
    background-color: #00a282;
}
@media (max-width:920px) {
    #about{
     background: none;
     height: fit-content;
    }   
    .about{
        width: 100%;
    }
}
@media (max-width:380px) {
    .about .about-heading h2,
    .about .about-heading h2 span{
    
    font-family: "Montserrat Bold";
    font-size: 2rem;
}
}
/*
* Values 
*/
#values{
    height: 80vh;
    width: 100%;
}
.value-cards{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.value-cards .values-card{
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 280px;
    margin-left: 2.5%;    
    border-radius: 25px;
    background-color: white;
    text-align: center;

}
.value-cards .values-card .icon{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 25%;
    width: 100%;

}
.value-cards .values-card .icon span{
    font-size: 3rem;
    color: #03173a;    
}

.value-cards .values-card .icon .block-up,
.value-cards .values-card .icon .block-down
{   position: absolute;
    bottom: 10%;
    left: 53%;
    top: 53%;
    width: 50px;
    height: 50px;
    background-color: rgba(51, 51, 51, 0.329);  
    transition: all 0.3s; 
}
.value-cards .values-card:hover .block-up,
.value-cards .values-card:hover .block-down{
    background-color: #00a24e;
}
.value-cards .values-card .icon .block-up{
    border-radius: 8px;
    border-bottom-right-radius: 25px;
}
.value-cards .values-card .icon .block-down{
    border-radius: 8px;
    border-top-left-radius: 25px;
}
.value-cards .values-card .card-body{
    margin-top: 25px;
}
.value-cards .values-card .card-body h5{
    font-family: "Montserrat Bold";
    font-weight: 1rem;
}
.value-cards .values-card .card-body p{
    font-size: 0.9rem;
}
@media (max-width:920px) {
    #values{
        height: fit-content;
    }
    .value-cards .values-card{
        margin-top: 25px;
    }
}
@media (max-width:880px) {
    .value-cards .values-card{
        width: 40%;
    }
}
@media (max-width:575px) {

    .value-cards .values-card{
        width: 100%;
    }
}
/*
* Count 
*/
#Count{
    height: 50vh;
    width: 100%;
    background: #333333;
}
.section-body .counts-row{
    width: 100%;
    height: 100%;
    display: inline-flex;
    color: white;
    padding-top: 80px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
}
.section-body .counts-row .count{
    width: fit-content;
    padding-inline: 4%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;

}
.section-body .counts-row .count .value span,
.bi-plus{
    font-family: "Montserrat Bold";
    font-weight: 500;
    font-size: 2rem;
}


@media (max-width:480px) {
    #Count{
        height: fit-content;

    }
    .section-body .counts-row .count{
        width: 100%;
    }
    .section-body .counts-row{
        display: flex;
        flex-direction: column;
        padding-top: 0px;
    }
    .bordered{
        border-right: none;
        /* border-bottom: 1.5px solid white; */
    }
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {
    background: #f2f2f2;
    padding: 15px 0;
    text-align: center;
  }
  
  .clients img {
    width: 50%;
    filter: grayscale(100);
    transition: all 0.4s ease-in-out;
    display: inline-block;
    padding: 15px 0;
  }
  
  .clients img:hover {
    filter: none;
    transform: scale(1.2);
  }
  
  @media (max-width: 768px) {
    .clients img {
      width: 40%;
    }
  }
/*
* TESTIMONIAL
*/

/*------------------------------------------------------------------
    Customer Reviews
-------------------------------------------------------------------*/
.heading-title h2{
    font-family: "Montserrat bold";
    font-weight: 600;
    font-size: 2.5rem;
    color: #00a24e;
}
.customer-reviews-box{
	padding: 70px 0px;
}

.carousel-inner .carousel-item .img-box{
	width: 135px;
	height: 135px;
}
.carousel-control-prev{
	left: -100px;
}
.carousel-control-next{
	right: -100px;
}


.text-warning{
	color: #00a24e !important;
	font-size: 24px;
}

@media (min-width: 320px) and (max-width: 640px) {
	.carousel-inner .carousel-item p{
		font-size: 14px;
	}
	.carousel-control-prev{
		left: -5px;
	}
	.carousel-control-next{
		right: -5px;
	}
 	
}

#reviews .carousel-control-prev{
	background: #00a24e;
	color: #ffffff;
	display: block;
	position: absolute;
	width: 8%;
	height: 50px;
	top: 50%;
	border-radius: 4px;
	font-size: 28px;
	opacity: 1;
}
#reviews .carousel-control-prev:hover{
	background: #ffff;
	color: #00a24e;
    border: 2px solid #00a24e;
}

#reviews .carousel-control-next{
	background: #00a24e;
	color: #ffffff;
	display: block;
	position: absolute;
	width: 8%;
	height: 50px;
	top: 50%;
	border-radius: 4px;
	font-size: 28px;
	opacity: 1;
}
#reviews .carousel-control-next:hover{
	background: #ffff;
	color: #00a24e;
    border: 2px solid #00a24e;
}

@media only screen and (min-width: 280px) and (max-width: 599px) {
	
    #reviews .carousel-control-prev,
    #reviews .carousel-control-next{
        display: none;
    }
	.why-text p{
		margin-bottom: 0px;
		margin-top: 0px;
	}
	.inner-column{
		margin-bottom: 30px;
	}
	.inner-menu-box .nav-pills .nav-link{
		font-size: 12px;
		padding: 5px;
	}
}

/*
* Contact Us Bar
*/
#contact{
    margin-top: 2.5%;
    height: 15vh;
    width: 100%;
    background-color: white;
    padding:1% 12% 1% 12%;
}
.contact-content{
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: space-between;
}
.contact-content .heading {
    font-family: "Montserrat";
}
.contact-content .heading h3{
    font-family: "Montserrat Bold";
    color: #03173a;
}
.contact-content .heading p{
    color: rgb(80, 80, 80);
}
.btn-cnt{
    background-color: #00a24e;
    outline: unset !important;
    border:  none !important;
    outline-color: #00a282 !important;
    color: white;
}
.btn-cnt:hover{
    outline-color: #00a282 !important;
    background-color: #00a282;
}

@media (max-width:720px) {
    #contact{
        padding-top: 10px;
        height: fit-content;
        padding-bottom:20px ;
    }
    .contact-content{
        display: flex;
        flex-direction: column;

    }
}
/*
*   FOOTER 
*/
#footer{
    height: fit-content;
    width: 100%;
    background: linear-gradient(#3edd8b52,#3edd8b52), url(../images/roofing_tiles3.jpg);
    background-position: center;
    background-size: cover;
    padding: 3% 12% 5% 12%;
    color: white;
    font-family: "Montserrat";
}
.footer__row{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.col__footer{
    width: 33.3%;
    color: white;
}
.col__footer h3{
    font-family: "Montserrat Bold";
    margin-bottom: 25px;
}

.col__footer li{
    margin-bottom: 10px;
    list-style-type:none;
}
.col__footer li a{
    color: white;
    text-decoration: none;
}
.col__footer li:hover > .icon{
    color: red;
}
.icon{
    margin-right: 15px;
}
.footer__socials{
    width: 100%;
    justify-content: space-between;
}
.footer__socials span{
    font-size: 2rem;
    text-align: center;
    margin-left: 25px;
    margin-top: 15px;
}
.footer__socials span:first-child{
    margin-left: 0;
}


#iwad-branding{
    height: 10vh;
    width: 100%;
    padding: 1% 12% 1% 12%;
    display: inline-flex;
    justify-content: space-between;
}
@media (max-width:838px) {
    .footer__row{
        flex-direction: column;
    }
    .col__footer{
        width: 100%;
        margin-bottom: 25px;
    }
    .col__footer:first-child{
        margin-top: 25px;
    }
}
.heading-iwad p{
    color: rgb(97, 96, 96);
}
.heading-iwad p{
    font-size: 0.8rem;
}
.bi-facebook{
    color: rgb(24, 71, 240);
}
.bi-instagram{
    color: rgb(243, 12, 120);
}
.bi-twitter{
    color: #3b4be2;
}
.bi-youtube{
    color: red;
}
@media (max-width:980px) {
    .footer-row{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 0%;
    }
    .footer-column h3{
        text-align: center;
        border-top:1px solid white ;
        border-bottom:1px solid white ;
        padding: 2% 0 2% 0;
    }
   
}
@media (max-width:720px) {
    #iwad-branding{
        display: flex;
        flex-direction: column;
        justify-content: unset;
    }
}

   